<div class="divider py-12">
  <div class="mx-auto flex w-full max-w-screen-xl items-center px-5 py-8 sm:py-12">
     <img alt="Hey Logo" class="mr-5 size-24 sm:mr-8 sm:size-36" src="assets/logo.png">
     <div class="flex-1 space-y-1 tracking-tight sm:max-w-lg">
        <div class="font-extrabold text-2xl sm:text-5xl">Welcome to Chatterbox,</div>
        <div class="ld-text-gray-500 font-extrabold text-2xl sm:text-5xl">A Social Media App build using Django and Angular, simple...</div>
     </div>
  </div>
</div>
