<footer class="top-20 sticky mt-4 flex flex-wrap gap-x-[12px] gap-y-2 px-3 text-sm lg:px-0">
  <span class="ld-text-gray-500 font-bold">© 2024 Hey.xyz</span><a class="outline-offset-4"
    rel="noreferrer noopener" href="/terms">Terms</a><a class="outline-offset-4" rel="noreferrer noopener"
    href="/privacy">Privacy</a><a class="outline-offset-4" rel="noreferrer noopener" target="_blank"
    href="https://hey.xyz/discord">Discord</a><a class="outline-offset-4" rel="noreferrer noopener"
    href="/u/hey">Hey</a><a class="outline-offset-4" rel="noreferrer noopener" target="_blank"
    href="https://status.hey.xyz">Status</a><a class="outline-offset-4" rel="noreferrer noopener"
    target="_blank" href="https://feedback.hey.xyz">Feedback</a><a class="outline-offset-4"
    rel="noreferrer noopener" href="/rules">Rules</a><a class="outline-offset-4" rel="noreferrer noopener"
    href="/support">Support</a>
</footer>
