<app-loading-spinner *ngIf="isLoading" />

<div class="container mx-auto mt-8 mb-2 max-w-screen-xl grow px-0 sm:px-5">
  <div class="grid grid-cols-11 lg:gap-8">
    <div class="col-span-11 mb-5 md:col-span-11 lg:col-span-7 space-y-5">
      <div class="rounded-none border-x-0 sm:rounded-xl sm:border-x border bg-white dark:border-gray-700 dark:bg-black">
        <article class="p-5">
          <span></span>
          <div *ngIf="tweetById_Data !== undefined && tweetById_Data" class="flex items-start space-x-3">
            <a class="contents" href="/u/jeanayala"><img alt="0x0178c5"
                class="size-11 z-[1] cursor-pointer rounded-full border bg-gray-200 dark:border-gray-700" height="44"
                loading="lazy" [src]=" 'http://127.0.0.1:8000' + tweetById_Data.user.profile_image " width="44"></a>
            <div class="w-[calc(100%-55px)]">
              <div class="flex w-full items-start justify-between">
                <div class="flex flex-wrap items-center gap-x-1"><a class="outline-none hover:underline focus:underline"
                    href="/u/jeanayala"><span><span data-state="closed"><span
                          class="font-semibold">{{tweetById_Data.user.name}}
                        </span></span></span></a><a class="outline-none hover:underline focus:underline"
                    href="/u/jeanayala"><span><span data-state="closed"><span
                          class="ld-text-gray-500 text-sm">&#64;{{tweetById_Data.user.username}}
                        </span></span></span></a><span class="ld-text-gray-500"><span class="mr-1">·</span><a
                      class="text-xs hover:underline" href="/posts/0x0178c5-0x09c8-DA-b9083849">
                      {{tweetById_Data.created_at
                      | timeAgo}} </a></span><span class="ld-text-gray-500 linkify"><span class="mr-1">·</span>
                    <span *ngIf="false"><span data-state="closed"><a class="text-xs hover:underline"
                          href="/c/autism">/autism</a></span>
                    </span></span></div>
                <div class="relative" data-headlessui-state="">
                  <button aria-label="More" class="rounded-full p-1.5 hover:bg-gray-300/20" type="button"
                    id="headlessui-menu-button-:r10s:" aria-haspopup="menu" aria-expanded="false"
                    data-headlessui-state="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" aria-hidden="true" data-slot="icon"
                      class="ld-text-gray-500 w-[15px] sm:w-[18px]">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z">
                      </path>
                    </svg>
                  </button>
                </div>
              </div>
              <div class="break-words">

                <!-- id -->
                <div class="markup linkify break-words text-md full-page-publication-markup">
                  <p>
                    {{tweetById_Data.content}}
                  </p>
                </div>

              </div>
              <div class="ld-text-gray-500 my-3 text-sm"><span> {{tweetById_Data.created_at | customDateFormat}}
                </span><span> · Posted via
                  Orb</span></div>
              <div class="divider"></div>
              <div class="ld-text-gray-500 flex flex-wrap items-center gap-x-6 gap-y-3 py-3 text-sm"><span><b
                    class="text-black dark:text-white"> {{tweetById_Data.comments_count}} </b> Comments</span>

                <button class="outline-offset-2" type="button"><b class="text-black dark:text-white">
                    {{tweetById_Data.likes_count}} </b>
                  Likes</button>
              </div>
              <div class="divider"></div>
              <div class="flex items-center justify-between">
                <span class="mt-3 flex w-full flex-wrap items-center justify-between gap-3">
                  <span class="flex items-center gap-x-6">

                    <!-- comment -->
                    <div class="ld-text-gray-500 flex items-center space-x-1">
                      <button aria-label="Comment" class="rounded-full p-1.5 outline-offset-2 hover:bg-gray-300/20"
                        type="button">
                        <span class="" data-state="closed">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true" data-slot="icon" class="w-[17px] sm:w-[20px]">
                            <path stroke-linecap="round" stroke-linejoin="round"
                              d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 0 1 1.037-.443 48.282 48.282 0 0 0 5.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z">
                            </path>
                          </svg>
                        </span>
                      </button>
                    </div>

                    <div class="flex items-center space-x-1">
                      <div class="relative" data-headlessui-state="">
                        <button aria-label="Mirror"
                          class="ld-text-gray-500 hover:bg-gray-300/20 rounded-full p-1.5 outline-offset-2"
                          id="headlessui-menu-button-:r110:" type="button" aria-haspopup="menu" aria-expanded="false"
                          data-headlessui-state="">
                          <span class="" data-state="closed">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                              stroke="currentColor" aria-hidden="true" data-slot="icon" class="w-[15px] sm:w-[18px]">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"></path>
                            </svg>
                          </span>
                        </button>
                      </div>
                    </div>

                    <!-- like button -->
                    <div class="ld-text-gray-500 flex items-center space-x-1">
                      <button *ngIf="user !== undefined && user"
                        [ngClass]="{'bg-red-500 text-white': tweetById_Data.liked_by_user_ids.includes(user.id)}"
                        aria-label="Like" class="hover:bg-gray-300/20 rounded-full p-1.5 outline-offset-2" type="button"
                        (click)="LikeTweet(tweetById_Data.id)">
                        <span class="" data-state="closed">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true" data-slot="icon" class="w-[17px] sm:w-[20px]">
                            <path stroke-linecap="round" stroke-linejoin="round"
                              d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z">
                            </path>
                          </svg>
                        </span>
                      </button>
                    </div>


                  </span>
                </span>
              </div>
            </div>
          </div>
        </article>
      </div>

      <!-- create comment -->
      <div>
        <!-- <app-create-comment /> -->
        <div class="add-comment">
          <textarea [(ngModel)]="newComment" placeholder="Write a comment..."></textarea>
          <button (click)="addComment()">Post</button>
        </div>
      </div>

      <div class="rounded-none border-x-0 sm:rounded-xl sm:border-x border bg-white dark:border-gray-700 dark:bg-black">
        <div data-virtuoso-scroller="true" class="virtual-divider-list-window"
          style="position: relative; height: auto;">
          <div data-viewport-type="window" style="width: 100%; height: 100%; position: relative; top: 0px;">
            <div data-testid="virtuoso-item-list"
              style="box-sizing: border-box; margin-top: 0px; padding-top: 0px; padding-bottom: 0px;">

              <!-- looping the comment data-->
              <ng-container *ngIf="commentsData !== undefined && commentsData">

                <div *ngFor="let item of commentsData.comments | commentsSortByDate" data-index="0"
                  data-known-size="280" data-item-index="0" style="overflow-anchor: none;">
                  <article
                    class="rounded-t-xl cursor-pointer px-5 pt-4 pb-3 transition-colors hover:bg-gray-100 dark:hover:bg-gray-900">
                    <div class="flex items-start space-x-3">
                      <a class="contents" href="/u/eduardmsmr"><img alt="0x01a5d6"
                          class="size-11 z-[1] cursor-pointer rounded-full border bg-gray-200 dark:border-gray-700"
                          height="44" loading="lazy" [src]=" 'http://127.0.0.1:8000' + item.user.profile_image "
                          width="44"></a>
                      <div class="w-[calc(100%-55px)]">
                        <div class="flex w-full items-start justify-between">
                          <div class="flex flex-wrap items-center gap-x-1"><a
                              class="outline-none hover:underline focus:underline" href="/u/eduardmsmr"><span><span
                                  data-state="closed"><span class="font-semibold"> {{item.user.name}}
                                  </span></span></span></a><a class="outline-none hover:underline focus:underline"
                              href="/u/eduardmsmr"><span><span data-state="closed"><span
                                    class="ld-text-gray-500 text-sm">&#64;{{item.user.username }}
                                  </span></span></span></a><span class="ld-text-gray-500"><span class="mr-1">·</span><a
                                class="text-xs hover:underline" href="/posts/0x01a5d6-0x1c83-DA-1dd9a508">
                                {{item.created_at | timeAgo}} </a></span></div>
                          <div class="relative" data-headlessui-state="">
                            <button aria-label="More" class="rounded-full p-1.5 hover:bg-gray-300/20" type="button"
                              id="headlessui-menu-button-:r119:" aria-haspopup="menu" aria-expanded="false"
                              data-headlessui-state="">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true" data-slot="icon"
                                class="ld-text-gray-500 w-[15px] sm:w-[18px]">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z">
                                </path>
                              </svg>
                            </button>
                          </div>
                        </div>
                        <div class="break-words">
                          <div class="markup linkify break-words text-md">
                            {{item.content}}
                          </div>
                        </div>

                        <!-- bab in the work -->
                        <span class="mt-3 flex w-full flex-wrap items-center justify-between gap-3">

                          <span class="flex items-center gap-x-6">

                            <!-- like -->
                            <!-- <div class="ld-text-gray-500 flex items-center space-x-1">
                              <button
                                *ngIf="user !== undefined && user "
                                (click)="toggleLikeComment(item.id)"
                                [ngClass]="{'bg-red-500 text-white': commentById_Data!.liked_by_user_ids.includes(user.id)}"
                                aria-label="Like" class="hover:bg-gray-300/20 rounded-full p-1.5 outline-offset-2"
                                type="button">
                                <span class="" data-state="closed">
                                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon"
                                    class="w-[15px] sm:w-[18px]">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z">
                                    </path>
                                  </svg>
                                </span>
                              </button>
                            </div> -->

                            <!-- dislike -->
                            <!-- <div class="ld-text-gray-500 flex items-center space-x-1">
                              <button (click)="DisLikeComment(item.id)" aria-label="Dislike"
                                class="hover:bg-gray-300/20 rounded-full p-1.5 outline-offset-2" type="button">
                                <span class="" data-state="closed">
                                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon"
                                    class="w-[15px] sm:w-[18px]">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M10 15v6a1 1 0 001 1h4a1 1 0 001-1v-6m-1.7-7H4a2 2 0 00-2 2v4a2 2 0 002 2h7m5.63-8L14 7l-3 6m4.63 3h5.9a2 2 0 001.87-2.74l-2.27-5.2a2 2 0 00-1.87-1.26H14">
                                    </path>
                                  </svg>
                                </span>
                              </button>
                            </div> -->

                          </span>

                        </span>

                      </div>
                    </div>
                  </article>
                </div>

              </ng-container>


            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-11 md:col-span-11 lg:col-span-4 space-y-5">
      <aside
        class="rounded-none border-x-0 sm:rounded-xl sm:border-x border bg-white dark:border-gray-700 dark:bg-black p-5">
        <div class="flex items-center justify-between">
          <a href="/u/jeanayala">
            <span>
              <span data-state="closed">
                <div class="mr-8 flex items-center space-x-3">
                  <img alt="0x0178c5" class="size-11 rounded-full border bg-gray-200 dark:border-gray-700" height="44"
                    loading="lazy"
                    src="https://ik.imagekit.io/lens/media-snapshot/tr:w-350,h-350/c51d3c6d4bc951b6295d0e4b39007072b1fe25caa4073544eca4ad3d0c0b02d5.webp"
                    width="44" />
                  <div>
                    <div class="flex max-w-sm items-center">
                      <div class="text-md grid">
                        <div class="truncate font-semibold">Jean Ayala</div>
                      </div>
                    </div>
                    <div><span class="ld-text-gray-500 text-sm">&#64;jeanayala</span></div>
                    <!-- <div class="text-sm mt-2 linkify leading-6" style="word-break: break-word;">
                      <p>🌐 Software Developer at SONGS Protocol |⚡️ Making music distribution fairer | 🎸
                        Blockchain-powered musician | 🧠 Neurodivergent advocate | 🔥 Creator of
                        <a class="outline-none focus:underline"
                          href="/search?q=%24chaos&amp;src=link_click&amp;type=pubs">$chaos</a>
                      </p>
                    </div> -->
                  </div>
                </div>
              </span>
            </span>
          </a>
          <div class="contents">
            <button
              class="text-gray-950 active:text-gray-300 dark:text-white dark:active:text-gray-700 border border-gray-300 hover:border-gray-950 dark:border-gray-700 dark:hover:border-gray-100 px-3 py-0.5 text-sm rounded-full font-bold outline-2 outline-offset-4 transition-colors"
              aria-label="Follow">
              <div>Follow</div>
            </button>
          </div>
        </div>
      </aside>
      <footer class="top-20 sticky mt-4 flex flex-wrap gap-x-[12px] gap-y-2 px-3 text-sm lg:px-0"><span
          class="ld-text-gray-500 font-bold">© 2024 Hey.xyz</span><a class="outline-offset-4" rel="noreferrer noopener"
          href="/terms">Terms</a><a class="outline-offset-4" rel="noreferrer noopener" href="/privacy">Privacy</a><a
          class="outline-offset-4" rel="noreferrer noopener" href="/guidelines">Guidelines</a><a
          class="outline-offset-4" rel="noreferrer noopener" target="_blank"
          href="https://hey.xyz/discord">Discord</a><a class="outline-offset-4" rel="noreferrer noopener"
          href="/u/hey">Hey</a><a class="outline-offset-4" rel="noreferrer noopener" target="_blank"
          href="https://status.hey.xyz">Status</a><a class="outline-offset-4" rel="noreferrer noopener" target="_blank"
          href="https://github.com/heyxyz/hey">GitHub</a><a class="outline-offset-4" rel="noreferrer noopener"
          href="/support">Support</a></footer>
    </div>
  </div>
</div>
