<section>

  <header class="divider sticky top-0 z-10 w-full bg-white dark:bg-black">
    <div class="container mx-auto max-w-screen-xl px-5">
      <div class="relative flex h-14 items-center justify-between sm:h-16">
        <div class="flex items-center justify-start"><button aria-label="Search"
            class="inline-flex items-center justify-center rounded-md text-gray-500 focus:outline-none md:hidden"
            type="button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" aria-hidden="true" data-slot="icon" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"></path>
            </svg>
          </button><a class="hidden rounded-full outline-offset-8 md:block" href="/"><img alt="Logo"
              class="size-8" height="32" src="assets/logo.png" width="32"></a>
          <div class="hidden sm:ml-6 md:block">
            <div class="flex items-center space-x-4">
              <div class="hidden md:block">
                <div class="w-full">
                  <form><label class="w-full" for=":r0:">
                      <div class="flex">
                        <div
                          class="focus-within:ring-1 rounded-xl flex w-full items-center border border-gray-300 bg-white focus-within:border-gray-500 focus-within:ring-gray-400 dark:border-gray-700 dark:bg-gray-900">
                          <input
                            class="rounded-xl peer w-full border-none bg-transparent outline-none focus:ring-0 px-3 py-2 text-sm"
                            id=":r0:" type="text" placeholder="Search…" value=""><span
                            class="order-first pl-3 text-zinc-500 [&amp;>*]:peer-focus:text-gray-500 [&amp;>*]:h-5"
                            tabindex="-1"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                              stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z">
                              </path>
                            </svg></span><span
                            class="order-last pr-3 text-zinc-500 [&amp;>*]:peer-focus:text-gray-500 [&amp;>*]:h-5"
                            tabindex="-1"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                              stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon"
                              class="cursor-pointer invisible">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
                            </svg></span>
                        </div>
                      </div>
                    </label></form>
                </div>
              </div><a
                class="cursor-pointer rounded-md px-2 py-1 text-left tracking-wide md:px-3 bg-gray-200 text-black dark:bg-gray-800 dark:text-white"
                href="/">
                <h6 class="text-sm font-bold">Home</h6>
              </a><a
                class="cursor-pointer rounded-md px-2 py-1 text-left tracking-wide md:px-3 text-gray-700 hover:bg-gray-200 hover:text-black dark:text-gray-300 dark:hover:bg-gray-800 dark:hover:text-white"
                href="/explore">
                <h6 class="text-sm font-bold">Explore</h6>
              </a>
              <div data-headlessui-state=""><button
                  class="w-full cursor-pointer rounded-md px-2 py-1 text-left tracking-wide md:px-3 text-gray-700 hover:bg-gray-200 hover:text-black dark:text-gray-300 dark:hover:bg-gray-800 dark:hover:text-white"
                  id="headlessui-menu-button-:rc:" type="button" aria-haspopup="menu" aria-expanded="false"
                  data-headlessui-state="">
                  <h6 class="text-sm font-bold">More</h6>
                </button></div>
            </div>
          </div>
        </div><a class="md:hidden ml-[60px]" href="/"><img alt="Logo" class="size-7" height="32"
            src="https://hey-assets.b-cdn.net/images/app-icon/0.png" width="32"></a>
        <div class="flex items-center gap-4">
          <div class="flex items-center space-x-2"><button
              class="text-gray-950 active:text-gray-300 dark:text-white dark:active:text-gray-700 border border-gray-300 hover:border-gray-950 dark:border-gray-700 dark:hover:border-gray-100 px-4 py-1 rounded-full font-bold outline-2 outline-offset-4">
              <div
              (click)="signup()"
              >Signup</div>
            </button><button
              class="text-white hover:text-white active:text-gray-400 dark:text-gray-950 dark:hover:text-gray-900 dark:active:text-gray-600 bg-gray-950 hover:bg-gray-700 active:bg-gray-700 dark:bg-white dark:hover:bg-gray-200 dark:active:bg-gray-200 border border-gray-950 hover:border-gray-800 active:border-gray-700 dark:border-white dark:hover:border-gray-100 dark:active:border-gray-200 px-4 py-1 inline-flex items-center space-x-1.5 rounded-full font-bold outline-2 outline-offset-4"><img
                alt="Lens Logo" class="mr-0.5 h-3" height="12" src="assets/logo.png" width="19">
              <div
              (click)="login()"
              >Login</div>
            </button></div>
        </div>
      </div>
    </div>
  </header>

</section>
